<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="fill">
              <input matInput placeholder="Nome" formControlName="firstName">
              <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
           <mat-form-field >
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" formControlName="email" >
              <mat-error *ngIf="addressForm.controls['email'].hasError('required')">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="fill">
              <input matInput placeholder="Phone" formControlName="phone">
              <mat-error *ngIf="addressForm.controls['phone'].hasError('required')">
                Telefone é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="fill">
              <input matInput placeholder="Senha" type="password" formControlName="password">
              <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                Senha é <strong>obrigatório</strong>!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!addressForm.valid"  type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
  