<p>manipulando-json works!</p>
<div class="container">  
    <h1> Display Data from Json File in Angular </h1>  
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>ID</th>  
            <th>Name</th>  
            <th>Email</th>  
            <th>Gender</th>  
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let student of students">  
          <td>{{ student.id }}</td>  
          <td>{{ student.name }}</td>  
          <td>{{ student.email }}</td>  
          <td>{{ student.gender }}</td>  
          <td><button mat-button (click)="goToDetail(student)">Ir para detalhe</button></td>
        </tr>  
      </tbody>  
    </table>  
  </div>  
